.profile-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.preview-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.uploadPfp {
padding: 10px;
    width: 70%;
    background-color: transparent;
    border: 3px solid rgba(17, 81, 191, 0.872);
    color: rgba(17, 81, 191, 0.872);
    border-radius: 30px;
}

.uploadPfp:hover {
color: rgba(9, 58, 142, 0.872);
background-color: transparent;
}