.calendar-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar-header {
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
        align-items: center;
}

.calendar-header h2 {
text-align: center;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.calendar-card {
    width: 600px;
    height: 600px;
    margin: 10px;
    background: #ffffff;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}

/* FullCalendar custom tweaks */
.fc .fc-button {
    background-color: transparent;
    border:none;
  
    border-radius: 6px;
    font-weight: 500;
    padding: 6px 12px;
    text-transform: capitalize;
    color: #2c3e50;
    transition: background-color 0.3s ease, color 0.3s ease;
}



.fc .fc-toolbar-title {
    font-size: 20px;
    font-weight: 600;
    color: #34495e;
}

.fc .fc-daygrid-day-number {
    color: #2d3436;
    font-weight: 500;
}

.fc-event {
    background-color: rgb(153, 196, 246);
    border: none;
    font-size: 14px;
    padding: 2px 4px;
    border-radius: 4px;
}
.fc-event:hover {
    background-color: rgb(172, 211, 255);
  
}
.calendar-card th{
background-color: rgb(253, 253, 209);
}
@media screen and (max-width: 768px) {
   .calendar-container{
    flex-direction: column;
   }
}