.events-table {
    border-collapse: collapse;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);

}
.events-container{
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.events-container h2{
text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
    color: #333;
}

.events-table th,
.events-table td {
  
border-bottom: 1px solid #ccc;
}

.events-table th {
    padding: 5px;
    background-color: rgb(253, 253, 209);
   
 
}
.events-table td {
    padding: 10px;
    text-align: left;
    background-color: rgb(255, 255, 255);
  
}