.help-header{
   
            position: absolute;
            top: 1px;
            right: 1px;
            display: flex;
            flex-direction: column;
            background-color: white;
            width: 100%;
            border-bottom: 2px solid #ddd;
    
        
}

.submit-form textarea{
   width: 400px;
   height: 100px;
   font-size: 14px;
   padding: 7px;
   border-radius: 5px;
   border: 1px solid #ccc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    resize:none;
    outline: none;
}
.submit-form button{
    padding:10px;
    width: 50%;
    background-color: transparent;
    border: 3px solid rgba(30, 99, 219, 0.872);
    color: rgba(17, 81, 191, 0.872);
    border-radius: 30px;
    transition: 0.8s;
}
.submit-form button:hover {

   
   
    color: white;
        background-color: rgba(17, 81, 191, 0.872);
    
}