.profile-page {
    padding: 50px;
    background-color: white;
    text-align: center;
    width: 50%;
    margin: 100px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
}
.profile-header {
    position: absolute;
    top: 1px;
    right: 1px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-bottom: 2px solid #ddd;
}
.info{
    font-size: 14px;
 
}
.profile-pic-large {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}
.back-btn{
    width: 10px;
    height: 10px;
    margin: 10px;
    display: flex;
    background-color: transparent;
    border-radius: 15px;
    color: rgb(47, 47, 47);
}
.back-btn:hover {
  
    background-color: rgb(229, 228, 228);
    
}
.back-btn:active {

    color: black;

}
.clearIcon{
    position: relative;
    top: -11px;
    right: 12px;
    
   
}