.settingsHeader {
    position: absolute;
    top: 1px;
    right: 1px;
   display: flex;
   flex-direction: column;
   background-color: white;
   width: 100%;
    border-bottom: 2px solid#ddd;
   
}
.settingsContainer{
    position: absolute;
        top: 200px;
        left: 10px;
        cursor: pointer;
       
}
.settingsContainer:active {
    
    font-weight: bold;
}
.delete{
    color: #e23636;
    background-color:transparent;
    padding: 9px;
    border: 3px solid #e23636;
    border-radius: 30px;
    font-size: 15px;
    transition: 0.3s ease-in-out;
}
.delete:hover {
    background-color: #e23636;
    color:white;
}