.sidebar {
    width: 32vh;
    background: white;
    color: rgb(0, 0, 0);
    height: 100vh;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: none;
    position: fixed;
    left: 0;
    top: 0;
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;
    z-index: 101;
    transform: translateX(-100%);
}
.menu-title{
color: rgb(34, 34, 34);
}

/* Logo & School Name */
.sidebar-logo {
    display: flex;
    align-items: center;
    
}

.logo {
    width: 40px;
    height: auto;
    margin-right: 5px;
    /* Space between logo and text */
}

.school-name {
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
    margin:0 0 20px 0;
    color: rgba(6, 65, 167, 0.872);
}

/* Sidebar Menu */
.sidebar-menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 12px;
    color: rgb(47, 47, 47);
    text-decoration: none;
    transition: 0.3s;
    background-color: transparent;
    
}

.sidebar-item .icon {
    margin-right: 10px;
}

.sidebar-item:hover {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    
}
.sidebar-item:active {
color: rgba(6, 65, 167, 0.872);
    font-weight: bold;
    .icon{
    color: rgba(6, 65, 167, 0.872);
    }
}
.sidebar-other {
    margin-top: auto;
}

.sidebar.open {
        transform: translateX(0);
 }

/* Sidebar Toggle Button */
.sidebar-toggle {
    display: block;
    position: fixed;
    top: 36px;
    left: 15px;
    background: rgb(136, 136, 136);
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    z-index: 1000;
    font-size: 15px;
    border-radius: 100px;
    
}
.sidebar-toggle:hover {
background-color: rgb(157, 156, 156);
}


.icon{
    color:  rgb(88, 87, 87);
    
}
.logout-btn:active{
    color:#e23636;;
}
